{% extends "base.html" %}
 {% block content %}

 <h1>Our Products</h1>

<div class="grid-container">
        <div class="card" data-stock="{{ product[3] }}">
            <img src="{{ url_for('static', filename='images/' + product[4]) }}" alt="{{ product[1] }}">
            <h3>{{ product[1] }}</h3>
            <p>{{ product[2] }}</p>
            <a href="/product/{{ product[0] }}">View Details</a>
            
            <!-- Overlay for Out of Stock -->
            {% if product[3]|int == 0 %}
            <div class="overlay">Out of Stock</div>
            {% endif %}
        </div>
</div>

 {% endblock %}