{% extends "base.html" %}
 {% block content %}

 <h1>{{ product[1] }}</h1>

 <div class="product-page">
    <div class="product-container">
        <!-- Left Side: Product Image -->
        <div class="product-image">
            <img src="{{ url_for('static', filename='images/' + product[4]) }}" alt="{{ product[1] }}">
        </div>

        <!-- Right Side: Product Information -->
        <div class="product-info">
            <h1>{{ product[1] }}</h1>
            <p class="price">{{ product[2] }}</p>
            <p class="stock">Stock: {{ product[3] }}</p>
            <button class="add-to-cart">Buy Now</button>
        </div>
    </div>
</div>


 {% endblock %}